html, body, #root {
  background: white;
  height: 100%;
}

.command-input{
  outline:none;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 220px;
  border: 3px solid #33ceb7;
  padding:10px;
}

.turtle-button{
  padding:12px;
  margin-left:10px;
  background: #33ceb7;
  color:white;
  border:none;
  &:hover{
    cursor:pointer;
  }
}

.turtle-grid {
  h1 {
    font-size: 28px;
    font-family:arial;
    color:#33ceb7;
  }
  h1, p {
    margin-top: 30px;
  }
}

.board {
  min-width: 300px;
  
  .square {
    display: inline-block;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: lightgray;
    border: 5px solid white;
    line-height: 60px;
    margin-left:5px;
    text-align: center;
    &:hover{
      cursor: pointer;
    }
    &.turtle-square {
      background: url(assets/turtle.svg) no-repeat;
      background-color: #9BE85B;
      background-size: 55%;
      background-position-x: center;
      background-position-y: center;
    }
  }
}

@media screen and (max-width: 699px) {
  .board .square {
    width: 60px;
    height: 60px;
  }
}

// rotate transforms
.turtle-rotate-left{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg); 
}

